= simple_form_for student do |f|
  = f.input :first_name
  = f.input :last_name

  %button.btn.btn-default{:data => {:toggle => 'collapse', :target => '#roll'}, :type => "button"}
    = t('student.columns.birth')
  .pause
  .collapse.in{:id => "roll"}
    .form-inline{ :display => 'inline-block' }
      .input-group
        = f.input :birth_date, include_blank: true, as: :date, start_year: Date.today.year - 55,
                              end_year: Date.today.year, label: false,
                              order: [:day, :month, :year]
  .pause
  = f.association :subject_items, label_method: :title, value_method: :id, label: 'Subject Items', as: :check_boxes
  = link_to t('shared.back'), students_path, class: 'btn btn-default'
  = f.button :submit
