= simple_form_for payment do |f|
  = f.error_notification

  .form-inputs
    = f.input :payment_date, as: :date, start_year: Date.today.year - 1,
                              end_year: Date.today.year,
                              order: [:month, :day]
    = f.association :student, collection: Student.all.decorate, label_method: :full_name
  .form-actions
    = link_to t('shared.back'), payments_path, class: 'btn btn-default'
    = f.button :submit
