-# - breadcrumb :students
= link_to t('shared.add_new_item'), new_payment_path, class: 'btn btn-default'
%table.table.table-condensed
  %thead
    %tr
      %th= t('payments.columns.first_name')
      %th= t('payments.columns.last_name')
      %th= t('payments.columns.student_id')
      %th= t('payments.columns.month')
      %th= t('payments.columns.payment_date')
      %th= t('shared.actions')
  %tbody
    = render payment
