- breadcrumb :payment, payment
%table.table.table-condensed
  %tbody
    %tr
      %th= t('payments.columns.first_name')
      %td= payment.student.first_name
    %tr
      %th= t('payments.columns.last_name')
      %td= payment.student.last_name
    %tr
      %th= t('payments.columns.payment_date')
      %td= payment.decorate.date_of_payment
    %tr
      %th= t('payments.columns.student_id')
      %td= payment.student_id

= link_to t('shared.back'), payments_path, class: 'btn btn-default'
